<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <property name="PATTERN" scope="context"
              value="%-7([%level]) %date{yyyy-MM-dd'T'HH:mm:ss.SSS} %logger{40}.%method@%line:%n\t%message %rootException{${STACK_TRACE_LEVEL_COUNT}}%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-7([%level]) %date{yyyy-MM-dd'T'HH:mm:ss.SSS} %logger{40}.%method@%line:%t%message %n</pattern>
        </encoder>
    </appender>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>